*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #000;
}

/* Nav */
nav img{
	width: 100px;
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.nav-link{
	font-family: Mulish;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;

	margin-right: 10px;

	position: relative;
}

.navbar-light .navbar-nav .nav-link{
    color: #adb5bd;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
}

.nav-link:after{
	content:"";
	display: block;
	width: 100%;
	height: 3px;

	background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
	border-radius: 50px;
	display: none;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.nav-link:hover{
	color: #fff;
	font-weight: 800;
}

.nav-link:hover:after{
	display: block;
}

.nav_icons{
	margin-top: -2px;
	width: 20px;
	margin-left: 60px;
}

nav i{
	color: #fff;
}

/* Header */
.header{
	height: 800px;
	background: url(../img/Header/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.header_title{
	font-family: Marcellus;
	font-size: 100px;
	line-height: 70px;
	color: #fff;

	padding-top: 230px;
}

.header_date{
	font-family: Mulish;	
	font-weight: 800;
	font-size: 16px;
	line-height: 10px;
	color: #fff;

	padding-top: 40px;
}

.header_number{
	font-family: Mulish;
	font-weight: 800;
	font-size: 16px;
	line-height: 12px;
	color: #fff;

	margin-top: 35px;

	border: 2px solid #26FFF2;
	border-radius: 50px;
	width: 59.75px;
	height: 24px;
	padding-left: 13px;
	padding-top: 4px;
}

.header_season{
	font-family: Mulish;
	font-weight: 800;
	font-size: 16px;
	line-height: 10px;
	color: #fff;

	margin-top: 40px;
}

.fa-star{
	color: #FFB800;
	margin-top: 37px;
}

.header_season--num{
	margin-left: -80px;
}

.header_text{
	font-family: "Mulish", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #c2c2c2;

	margin-top: 15px;
}

.btn_watch{
	width: 141px;
	height: 50px;
	background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
	border: none;
	border-radius: 100px;
}

.btn_img{
	margin-left: -83px;
    margin-top: 16px;
}

.btn_text{
	font-family: Mulish;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	margin-top: -18px;
    margin-left: 13px;
}

.btn_info{
	width: 195px;
	height: 50px;
	border: none;
	border-radius: 100px;
	background: #fff;
	margin-left: -40px;

	font-family: Mulish;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #323232;
}

hr{
	color: #c2c2c2;
	margin-top: 100px;
}

/* Shows */
.shows{
	margin-top: 135px;
	background: #000;
	height: 384px;
}

.shows_title{
	padding-top: 8px;
	padding-bottom: 10px;
	font-family: Mulish;
	font-weight: bold;
	font-size: 28px;
	line-height: 20px;
	color: #fff;

	margin-left: -100px;
}

.fa-angle-right{
	padding-top: 7px;
	margin-left: -74px;

	font-weight: bold;
	font-size: 28px;
	color: #fff;
}

.shows_after{
	height: 292px;
    width: 185px;
}

.shows_items{
	width: 185px;
    margin-left: -31px;
}

.shows_items--perfect{
	margin-left: -50px;
}

.fa-chevron-right{
	margin-top: -153px;
	float: right;

	font-size: 48px;
	color: #fff;
}

/* Movies */
.movies{
	margin-top: 40px;
}

.fa-angle-right--right{
	margin-left: -114px;
}

.shows_items_2--leap{
	height: 296px;
    margin-left: -31px;
}

.btn_movies{
	margin-top: 40px;
	margin-bottom: 10px;
	width: 141px;
	height: 50px;
	border: none;
	background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
	box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
	border-radius: 100px;

	font-family: "Mulish", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

/* Genres */
.genres{
	height: 498px;
	margin-top: 96px;
}

.genres i{
	margin-left: -125px;
}

.genres_items{
	width: 340px;
	height: 198px;
	background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
	border-radius: 20px;
	text-align: center;
	padding-top: 43px;
}

.genres_text{
	padding-top: 5px;
	font-family: "Mulish", sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 20px;
	color: #fff;
}

.genres_items--drama{
	background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}

.genres_items--hist{
	background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}

.genres_items--action{
	background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}

.genres_items--sci_fi{
	margin-top: 20px;
	background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}

.sci_fi{
	width: 90px;
	height: 90px;
}

.genres_items--horror{
	margin-top: 20px;
	background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}

.genres_items--comedy{
	margin-top: 20px;
	background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.genres_items--doc{
	margin-top: 20px;
	background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}

/* Channels */
.channels{
	margin-top: 70px;
	height: 193px;
}

.channels i{
	margin-left: -95px;
}

.channels_cont{
	width: 260px;
	height: 118px;
	background: #fff;
	border-radius: 20px;
}

.channels_cont--2{
	margin-left: 37px;
}

.channels_cont--3{
	margin-left: 76px;
}

.channels_cont--4{
	margin-left: 114px;
}

.channels_cont--5{
	margin-left: 147px;
}

.fa-chevron-right--right{
	margin-top: -90px;
}

/* Stars */
.stars{
	margin-top: 60px;
	height: 308px;
}

.stars i{
	margin-left: -95px;
}

.stars_items{
	margin-top: 10px;
}

.stars_items--perfect{
	margin-left: -30px;
}

.actors_names{
	font-family: "Mulish", sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	padding-top: 14px;
}

.actors_names--morgan{
	margin-left: -45px;
}

.fa-chevron-right--stars_right{
	margin-top: -169px;
}

/* Coming soon */
.coming_soon{
	margin-top: 96px;
	height: 341px;
}

.big_bug{
	border-radius: 20px 0px 0px 20px;
}

.coming_cont{
	width: 700px;
	height: 326px;
	border-radius: 0 0 20px;
	margin-left: -24px;
	background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
}

.coming_2021{
	padding-top: 64px;
    padding-left: 200px;
}

.coming_soon h1{
	padding-top: 30px;
    padding-left: 147px;
	font-family: Mulish, sans-serif;
	font-weight: 700;
	font-size: 64px;
	line-height: 20px;
	color: #fff;
}

/* Registr */
.registr{
	height: 507px;
}

.registr_cont{
	width: 100%;
	height: 100%;
	max-width: 1224px;
	max-height: 270px;
	margin-left: 84px;
    margin-top: 116px;
	background: linear-gradient(336.56deg, #000000 58.12%, #FFFFFF 124.09%);
	border-radius: 20px;
}

.registr img{
	height: 270px;
	border-radius: 20px;
}

.registr h1{
	margin-top: -176px;
	margin-left: 17px;

	font-family: Mulish, sans-serif;
	font-weight: 700;
	font-size: 64px;
	line-height: 64px;
	color: #fff;
}

.registr button{
	position: absolute;
	margin-top: -141px;
}

/* Footer */
.footer{
	height: 280px;
	background: #101012;
}

.footer img{
	margin-top: 70px;
	width: 140px;
}

.footer a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.footer i{
	margin-top: 15px;
	margin-right: 10px;
}

.footer p{
	font-family: Mulish;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #c2c2c2;
}

.footer_voice{
	margin-top: 64px;
}

@media(max-width: 768px){
	/* Header */
	.header_title{
		padding-top: 245px;
		font-size: 85px;
	}

	.header_text{
		margin-bottom: 30px;
	}
}